<footer>
    <div class="footer-content">
        <p>&copy; 2023 Smash&Heal. All rights reserved.</p>
        <ul>
            <li><a href="privacy-policy.html">Privacy Policy</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="community-impact.html">Community Impact Stories</a></li>
        </ul>
    </div>
    <div class="footer-contact">
        <p>Contact us at: <a href="mailto:info@smashandheal.com">info@smashandheal.com</a></p>
        <p>Follow us on social media:</p>
        <ul>
            <li><a href="https://facebook.com/smashandheal" target="_blank">Facebook</a></li>
            <li><a href="https://twitter.com/smashandheal" target="_blank">Twitter</a></li>
            <li><a href="https://instagram.com/smashandheal" target="_blank">Instagram</a></li>
        </ul>
    </div>
</footer>